@model VulnAsset.structs.Package
@{
    var mavenUrl = $"https://mvnrepository.com/artifact/{Model.PackageName}/{Model.ArtifactName}/{Model.CurrentVersion}";
    var vulnBgColor = Model.Vulnerabilities.Count > 1 ? "bg-red-400" : "bg-green-400";    
}

<a
    href="@mavenUrl"
    class="@vulnBgColor text-[#282c34] border-3 p-3 font-bold rounded-md "
    target="_blank"
    title="Yes Fuck"
>
    <span class="flex justify-content-between">
        <p class="text-white  font-bold"> ArtifactName : </p>
        <p class="text-white  font-bold"> @Model.ArtifactName </p>
    </span>
    <span class="flex justify-content-between">
        <p class="text-white  font-bold"> Current Version :</p>
        <p class="text-white  font-bold"> @Model.CurrentVersion </p>
    </span>
    <span class="flex justify-content-between">
        <p class="text-white  font-bold"> New Version :</p>
        <p class="text-white  font-bold"> @Model.NewVersion </p>
    </span>
    <span class="flex justify-content-between">
        <p class="text-white  font-bold"> Numbers Of Vulnerabilities : </p>
        <p class="text-white  font-bold"> @Model.Vulnerabilities.Count </p>
    </span>
</a>